@font-face {
	font-family: 'Aoyagi Kozan';
	src: url('../fonts/aoyagikouzan.ttf') format('truetype');
}


#stickynav {
	text-align: center;
	font-family: Lora;
	position: -webkit-sticky;
	top: 0;
	position: sticky;
	color: black;	
	padding-top: 10px;
	background-color: rgba(255,255,255,0.3);
}

li {
	display: inline;
	padding: 0 60px;
}

ul {
	display: block;
	margin: 0, auto;
	padding-bottom: 20px;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: grey;
	text-decoration: none;
}

#commentfield {
	width:400px;
}

main {
	font-family: Roboto;
	margin: 0 100px;
	text-align: left;
	display:grid;
	place-items: center;
}

#posts-list.has-comments li.no-comments {
	display: none;
  }

article h1{
	text-align: center;
}

article p {
	text-align: justify;
	font-size:20px;
}

article {
	width:40%;
	margin-bottom:60px;
}

p {
	margin: 50 0;
}

#disqus_thread {
	width:50%
}

/*fb*/
#fb {
	width: 50px;
	height: 50px;
	background: url('../images/fb1.png') no-repeat;
	background-size: 100% auto;
	display:inline-block;
}

#fb1 {
	width: 100%;
	height: 100%;
	background: url('../images/fb2.png') no-repeat;
	background-size: 100% auto;
	opacity: 0%
}

a:hover #fb1{
	opacity: 100%
}

/*twt*/
#twt {
	width: 50px;
	height: 50px;
	background: url('../images/twt1.png') no-repeat;
	background-size: 100% auto;
	display:inline-block;
}

#twt1 {
	width: 100%;
	height: 100%;
	background: url('../images/twt2.png') no-repeat;
	background-size: 100% auto;
	opacity: 0%
}

a:hover #twt1{
	opacity: 100%
}

a:hover div{
	animation: fadeIn ease 0.2s;
	-webkit-animation: fadeIn ease 0.2s;
	-moz-animation: fadeIn ease 0.2s;
	-o-animation: fadeIn ease 0.2s;
	-ms-animation: fadeIn ease 0.2s;
}

/*animations*/
@keyframes fadeIn{
  0% {
	opacity:0;
  }
  100% {
	opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
	opacity:0;
  }
  100% {
	opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
	opacity:0;
  }
  100% {
	opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
	opacity:0;
  }
  100% {
	opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
	opacity:0;
  }
  100% {
	opacity:1;
  }
}

