:root {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
}
 
@font-face {
	font-family: 'Aoyagi Kozan';
	src: url('../fonts/aoyagikouzan.ttf') format('truetype');
}

body, #logo-container, #definition-container {
	width: 100%;
	height: 100%;
}

#parallax {
	background-image: url('../images/parallax.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	min-height:300px
}

#header {
	background-image: url('../images/headerback.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-position: center;
}

#header-img {
	filter: blur(3px);
	width: 100%;
	height: 100%;
}

#logo {
	display:block;
	margin: 0 auto;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#logo-container {
	padding-top: 3%;
	background-color: rgba(255,255,255,0.4);
	padding-bottom: 4.5%
}

#intro {
	width: 100%;
	height: 100%;
	background: black;
	color: white;
}

#definition-container {
	padding-top: 14%;
	display: grid;
	place-items: center;
	padding-bottom: 14%;
}

#navbar {
	text-align: center;
	font-family: Lora;
	display: inline;
	mix-blend-mode: difference;
}

#stickynav {
	text-align: center;
	font-family: Lora;
	position: -webkit-sticky;
	top: 0;
	position: sticky;
	color: black;	
	padding-top: 10px;
	background-color: rgba(255,255,255,0.3);
}

#chosen {
	color: grey;
}

li {
	display: inline;
	padding: 0 60px;
}

ul {
	display: block;
	margin: 0, auto;
	padding-bottom: 20px;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: grey;
	text-decoration: none;
}


#homecontent {
	width:50%;
	font-family: Roboto;
	font-size:19px;
	margin: 60px 100px;
}

#articlecontent{
	font-family: Roboto;
	font-size:19px;
	margin-top: 60px;
	width: 100%;
	display: grid;
	place-items: center;
	text-align: center;
	height: 900px;
}

.fade {
	opacity: 0;
}

.anim {
    animation: fadeInOut 2s linear forwards;
}


   
#homie {
	width: 100%;
	display: grid;
	place-items: center;
}		

#text1 {
	font-family: 'Aoyagi Kozan';
	color: white;
	font-size: 30px;
}

#text1:hover span {
	display:none;
}

#text1:hover:before {
	content: "俺はQが、男子高校生です。";
}

#welcome {
	margin-top:-2.7%;
	font-family: Julius Sans One; font-size:30px;
	text-align: center;
}

#article {
	width:100%;
}

#heading {
	font-family: Julius Sans One; font-size:39px;
	text-align: center;
}

.row {
    display: table;
    table-layout: fixed; 
    border-spacing: 10px; 
	margin-bottom: 60px;
}
#column1 {
    display: table-cell;
    background: url('../images/art1.jpg') no-repeat;
	background-size: 100% auto;
	width: 400px;
	height: 550px;
	position:relative;
}

#column2 {
    display: table-cell;
    background: url('../images/art2.jpg') no-repeat; 
	background-size: 100% auto;
	width: 400px;
	height: 550px;
	position: relative;
}


.gradient {
	background: linear-gradient(270deg, #1bc1ff, #0d8ab9, #a04be4, #774be4);
	background-size: 1000% 1000%;
	display: grid;
	place-items: center;
    -webkit-animation: grad 59s ease infinite;
    -moz-animation: grad 59s ease infinite;
    -o-animation: grad 59s ease infinite;
    animation: grad 59s ease infinite;
	margin: 20px 0;
	height: 200px;
}

/*overlay*/
.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,0.3);
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
  }
  
  #column1:hover .overlay {
	height: 100%;
  }

  #column2:hover .overlay {
	height: 100%;
  }
  
  .text {
	white-space: nowrap; 
	color: black;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  }

@-webkit-keyframes grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes fadeInOut {
	30% { opacity:0; }
	100% { opacity:1; } 
}